<ion-header>
  <ion-toolbar color="primary" class="animated fadeIn">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
<!-- [placeholder]="translate.get('userlist.search')" -->
<!-- {{ 'app.name' | translate }} -->
        {{ 'app.name' | translate }} <ion-text color="secondary" class="fw700"> {{ 'app.version' | translate }}</ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-left size="small" shape="round" color="tertiary" (click)="messages()">
            <ion-icon name="mail"></ion-icon>
      </ion-button>
      <ion-button icon-left size="small" shape="round" color="tertiary" (click)="editprofile()">
        <ion-icon name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="animated fadeIn fast">

  <div class="booking-card bg-dark">
    <ion-card class="searchcard animated fadeIn">
      <ion-card-content no-padding>
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding>
              <ion-searchbar [(ngModel)]="campinglocation" (ionInput)="getItems($event)" (ionCancel)="showItems = !showItems" autocomplete="on"
 autocorrect="on" spellcheck="true" animated="true" search-icon="pin" color="tertiary" debounce="500" placeholder="Destination or address..."></ion-searchbar>
              <ion-list class="searchbar-results animated fadeIn" *ngIf="showItems">
                <ion-item *ngFor="let item of items" tappable (click)="itemSelected(item)">
                  <ion-icon name="pin" slot="start"></ion-icon>
                  {{ item }}
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin size="6" class="br bb datetime-btn" text-center>
              <ion-item lines="none" text-center>
                <ion-label position="stacked">
                  <ion-icon name="calendar" slot="start" class="text-dark"></ion-icon>
                  <ion-text color="dark">{{ checkin.name }}</ion-text>
                </ion-label>

                <ion-datetime class="text-primary" displayFormat="MM/DD/YYYY" pickerFormat="YYYY-MM-DD" min="2019" max="2020" [(ngModel)]="checkin.date"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col no-padding no-margin size="6" class="bb datetime-btn" text-center>
              <ion-item lines="none" text-center>
                <ion-label position="stacked">
                  <ion-icon name="calendar" slot="start" class="text-dark"></ion-icon>
                  <ion-text color="dark">{{ checkout.name }}</ion-text>
                </ion-label>
                <ion-datetime class="text-primary" displayFormat="MM/DD/YYYY" pickerFormat="YYYY-MM-DD" min="2019" max="2020" [(ngModel)]="checkout.date"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-card-content>

        <ion-row class="adjust-qts">
          <ion-col size="6" class="br bb bt" no-padding>

              <ion-item>
                <ion-label class="text-primary text08" no-padding>
                  <ion-text color="dark">{{ 'app.pages.home.label.adults' | translate }}</ion-text>
                </ion-label>
                <ion-select [(ngModel)]="adults" cancelText="Cancel" okText="OK" no-padding class="text1 text-dark">
                  <ion-select-option value="1" selected="true">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                  <ion-select-option value="4">4</ion-select-option>
                  <ion-select-option value="5">5</ion-select-option>
                  <ion-select-option value="6">6</ion-select-option>
                  <ion-select-option value="7">7</ion-select-option>
                  <ion-select-option value="8">8</ion-select-option>
                  <ion-select-option value="9">9</ion-select-option>
                </ion-select>
              </ion-item>

          </ion-col>
          <ion-col size="6" class="bb bt br" no-padding>

              <ion-item>
                <ion-label class="text-primary text08" no-padding no-margin>
                  <ion-text color="dark">{{ 'app.pages.home.label.children' | translate }}</ion-text>
                </ion-label>
                <ion-select [(ngModel)]="children" cancelText="Cancel" okText="OK" (ngModelChange)="childrenArr($event)" no-padding class="text1 text-dark">
                  <ion-select-option value="0" selected="true">0</ion-select-option>
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                  <ion-select-option value="4">4</ion-select-option>
                  <ion-select-option value="5">5</ion-select-option>
                  <ion-select-option value="6">6</ion-select-option>
                  <ion-select-option value="7">7</ion-select-option>
                  <ion-select-option value="8">8</ion-select-option>
                  <ion-select-option value="9">9</ion-select-option>
                </ion-select>
              </ion-item>

          </ion-col>
          <ion-col size="6" no-padding>
        
          </ion-col>
        </ion-row>
        
        <ion-row *ngIf="children > 0" class="animated fadeIn">
          <ion-col size="12" padding-vertical>
            <ion-text color="primary" text-center>
              <h3 class="bold" *ngIf="children > 0 && children < 2">{{ 'app.pages.home.label.childage' | translate }}</h3>
              <h3 class="bold" *ngIf="children > 1">{{ 'app.pages.home.label.childrenages' | translate }}</h3>
            </ion-text>
          </ion-col>
          <ion-col size="6" class="bb bt br bl" no-padding *ngFor="let child of childs; let i = index">

              <ion-item>
                <ion-label class="text-primary text08" no-padding no-margin>
                  <ion-text color="dark">{{ 'app.pages.home.label.child' | translate }} {{ i + 1 }}</ion-text>
                </ion-label>
                <ion-select cancelText="Cancel" okText="OK" no-padding class="text08 text-dark">
                  <ion-select-option value="0" selected="true">0</ion-select-option>
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                  <ion-select-option value="4">4</ion-select-option>
                  <ion-select-option value="5">5</ion-select-option>
                  <ion-select-option value="6">6</ion-select-option>
                  <ion-select-option value="7">7</ion-select-option>
                  <ion-select-option value="8">8</ion-select-option>
                  <ion-select-option value="9">9</ion-select-option>
                  <ion-select-option value="10">10</ion-select-option>
                  <ion-select-option value="11">11</ion-select-option>
                  <ion-select-option value="12">12</ion-select-option>
                  <ion-select-option value="13">13</ion-select-option>
                  <ion-select-option value="14">14</ion-select-option>
                </ion-select>
              </ion-item>

          </ion-col>         
        </ion-row>
        <ion-row class="adjust-qts">
          <ion-col size="12" class="bb bt br bl" no-padding margin-top margin-bottom>

              <ion-item>
                <ion-label class="text-primary text08" no-padding no-margin>
                  <ion-text color="dark">{{ 'app.pages.home.label.pamenities' | translate }}</ion-text>
                </ion-label>
                <ion-select multiple="true" cancelText="Cancel" okText="OK" no-padding class="text08 text-dark">
                  <ion-select-option value="0" selected="true">{{ 'app.pages.home.select.wifi' | translate }}</ion-select-option>
                  <ion-select-option value="1">{{ 'app.pages.home.select.pool' | translate }}</ion-select-option>
                  <ion-select-option value="2">{{ 'app.pages.home.select.parking' | translate }}</ion-select-option>
                  <ion-select-option value="3">{{ 'app.pages.home.select.restaurant' | translate }}</ion-select-option>
                  <ion-select-option value="4">{{ 'app.pages.home.select.animal' | translate }}</ion-select-option>
                  <ion-select-option value="5">{{ 'app.pages.home.select.handicap' | translate }}</ion-select-option>
                  <ion-select-option value="6">{{ 'app.pages.home.select.beach' | translate }}</ion-select-option>
                </ion-select>
              </ion-item>

          </ion-col>          
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button icon-left shape="round" size="full" color="primary" (click)="viewCampings()">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-icon name="search"></ion-icon>
              {{ 'app.button.search' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary">
      <h3><ion-icon size="small" color="dark" name="map"></ion-icon> {{ 'app.pages.home.title.nearyou' | translate }}</h3>
    </ion-text>

    <ion-card class="animated fadeIn">
      <ion-card-content no-padding>
        <agm-map [latitude]="campings[0].location.lat" [longitude]="campings[0].location.lon" [zoom]="10" [zoomControl]="false" [styles]="agmStyles" [streetViewControl]="false">
          <agm-marker *ngFor="let camping of campings" [latitude]="camping.location.lat" [longitude]="camping.location.lon">
              <agm-info-window>
                  <ion-item tappable routerLink="/camping-detail/{{camping.id}}">
                    <ion-thumbnail slot="start">
                      <img [src]="camping.thumb">
                    </ion-thumbnail>
                    <ion-label>
                      <ion-text color="primary">
                        <h2><strong>{{ camping.name }}</strong></h2>
                      </ion-text>
                      
                      <h3>
                        <ion-badge slot="start" color="secondary" class="rooms">
                          <ion-icon name="book" color="tertiary"></ion-icon>
                          {{ camping.numb_available_rooms }} {{ 'app.pages.home.label.availrooms' | translate }}
                        </ion-badge>
                      </h3>
                      <ion-badge color="warning">
                        <ion-icon name="star"></ion-icon> {{ camping.rating }}
                      </ion-badge>
                    </ion-label>
                  </ion-item>
                </agm-info-window>            
          </agm-marker>
        </agm-map>
      </ion-card-content>
    </ion-card>

    <hr class="bg-tertiary">

    <ion-text color="primary">
      <h3><ion-icon size="small" color="dark" name="bookmark"></ion-icon> {{ 'app.pages.home.title.recommended' | translate }}</h3>
    </ion-text>

    <ion-slides pager="true" margin-bottom>
      <ion-slide *ngFor="let camping of campings | slice:0:4; let i = index">
        <ion-grid no-padding>
          <ion-row>
            <ion-col size="12">
              <ion-card class="campingsCard" tappable routerLink="/camping-detail/{{camping.id}}">
                <ion-img [src]="camping.thumb"></ion-img>

                <ion-card-subtitle>
                  <ion-badge color="warning">
                    <ion-icon name="star"></ion-icon> {{ camping.rating }}
                  </ion-badge>
                </ion-card-subtitle>
                <ion-card-title color="light">{{ camping.name }}</ion-card-title>
                <div class="shadow"></div>
                <ion-card-content>
                  <ion-badge slot="start" color="dark" class="rooms">
                    <ion-icon name="book" color="secondary"></ion-icon>
                    {{ camping.numb_available_rooms }} {{ 'app.pages.home.label.availrooms' | translate }}
                  </ion-badge>

                  <ion-badge slot="end" color="success" class="price">
                    <h3><strong>{{ camping.price | currency:'$':'code' }}</strong></h3>  
                  </ion-badge> 
                </ion-card-content>               
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-slide>
    </ion-slides>

    <hr class="bg-tertiary">

    <ion-text color="primary">
      <h3><ion-icon size="small" color="dark" name="bookmarks"></ion-icon> {{ 'app.pages.home.title.latestbookings' | translate }}</h3>
    </ion-text>

    <ion-card>
      <ion-list>
          <ion-item color="dark" tappable routerLink="/camping-detail/{{camping.id}}" *ngFor="let camping of campings | slice:4:8; let i = index">
              <ion-thumbnail slot="start">
                <img [src]="camping.thumb">
              </ion-thumbnail>
              <ion-label>
                <h2><strong>{{ camping.name }}</strong></h2>
                <h3>
                  <ion-badge slot="start" color="secondary" class="rooms">
                    <ion-icon name="book" color="tertiary"></ion-icon>
                    {{ camping.numb_available_rooms }} {{ 'app.pages.home.label.availrooms' | translate }}
                  </ion-badge>                
                </h3>
                <ion-badge color="warning">
                    <ion-icon name="star"></ion-icon> {{ camping.rating }}
                  </ion-badge>           
              </ion-label>
            </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="animated fadeIn">
  <ion-toolbar color="primary">
    <ion-grid no-padding>
        <ion-row>
          <ion-col size="4" no-padding>
            <ion-button size="small" shape="round" expand="full" fill="clear" color="tertiary" (click)=goToRentaCamper()>
              <ion-icon slot="start" name="mper"></ion-icon>
              {{ 'app.pages.menu.rentacamper' | translate }}
            </ion-button>
          </ion-col>
          <ion-col size="4" no-padding>
            <ion-button size="small" shape="round" expand="full" fill="clear" color="tertiary" (click)=goToActivities()>
              <ion-icon slot="start" name="beer"></ion-icon>
              {{ 'app.pages.menu.activitiestab' | translate }}
            </ion-button>
          </ion-col>
          <ion-col size="4" no-padding>
            <ion-button size="small" shape="round" expand="full" fill="clear" color="light" (click)="goToSettings()">
              <ion-icon slot="start" name="cog"></ion-icon>
              {{ 'app.pages.menu.settings' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>