<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.pages.campinglist.title.header' | translate }}</ion-title>
  </ion-toolbar>

  <ion-toolbar color="dark">
    <ion-title>
      <h6 no-margin>({{ campings?.length || '0' }}) {{ 'app.label.resultsf' | translate }}</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">

  <div padding>

    <ion-segment [(ngModel)]="campingLists" (ionChange)="segmentChanged($event)" color="light" margin-bottom>
      <ion-segment-button value="cardlist">
        <ion-icon name="apps" color="tertiary"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="linelist">
        <ion-icon name="list" color="tertiary"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="maplist">
        <ion-icon name="map" color="tertiary"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="campingLists">
      <div *ngSwitchCase="'cardlist'" [@staggerIn]='campings?.length'>
        <!-- # -->
        <ion-card no-margin margin-bottom class="campingsCard" tappable routerLink="/camping-detail/{{camping.id}}" *ngFor="let camping of campings; let i = index">
          <ion-img [src]="camping.thumb"></ion-img>
        
          <ion-card-subtitle>
            <ion-badge color="warning">
              <ion-icon name="star"></ion-icon> {{ camping.rating }}
            </ion-badge>
          </ion-card-subtitle>
          <ion-card-title color="light">{{ camping.name }}</ion-card-title>
          <div class="shadow"></div>
          <ion-card-content>
            <ion-badge slot="start" color="dark" class="rooms">
              <ion-icon name="book" color="secondary"></ion-icon>
              {{ camping.numb_available_rooms }} {{ 'app.label.availrooms' | translate }}
            </ion-badge>
        
            <ion-badge slot="end" color="success" class="price">
              <h3><strong>{{ camping.price | currency:'$':'code' }}</strong></h3>
            </ion-badge>
          </ion-card-content>
        </ion-card>
        <!-- # -->
      </div>
      <div *ngSwitchCase="'linelist'" [@staggerIn]='campings.length'>
        <!-- # -->
        <ion-item color="primary" tappable routerLink="/camping-detail/{{camping.id}}" margin-bottom *ngFor="let camping of campings; let i = index">
          <ion-thumbnail slot="start">
            <img [src]="camping.thumb">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>{{ camping.name }}</strong></h2>
            <h3>
              <ion-badge slot="start" color="secondary" class="rooms">
                <ion-icon name="book" color="tertiary"></ion-icon>
                {{ camping.numb_available_rooms }} {{ 'app.label.availrooms' | translate }}
              </ion-badge>
            </h3>
            <ion-badge color="warning">
              <ion-icon name="star"></ion-icon> {{ camping.rating }}
            </ion-badge>
          </ion-label>
        </ion-item>
        <!-- # -->
      </div>
      <div *ngSwitchCase="'maplist'">
        <!-- # -->
        <agm-map [latitude]="campings[0].location.lat" [longitude]="campings[0].location.lon" [zoom]="10" [zoomControl]="false" [styles]="agmStyles"
          [streetViewControl]="false">
          <agm-marker *ngFor="let camping of campings" [latitude]="camping.location.lat" [longitude]="camping.location.lon">
            <agm-info-window>
              <ion-item tappable routerLink="/camping-detail/{{camping.id}}">
                <ion-thumbnail slot="start">
                  <img [src]="camping.thumb">
                </ion-thumbnail>
                <ion-label>
                  <ion-text color="primary">
                    <h2><strong>{{ camping.name }}</strong></h2>
                  </ion-text>
                  
                  <h3>
                    <ion-badge slot="start" color="secondary" class="rooms">
                      <ion-icon name="book" color="tertiary"></ion-icon>
                      {{ camping.numb_available_rooms }} {{ 'app.label.availrooms' | translate }}
                    </ion-badge>
                  </h3>
                  <ion-badge color="warning">
                    <ion-icon name="star"></ion-icon> {{ camping.rating }}
                  </ion-badge>
                </ion-label>
              </ion-item>
            </agm-info-window>
          </agm-marker>
        </agm-map>
        <!-- # -->
      </div>
    </div>
    <!-- # -->
  </div>

</ion-content>
